.toolbar {
    background-color: #490871;
    display: flex;
    height: 40px;
    width: 100%;
    position: fixed;
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    right: 12px;
}

.social a {
    margin-right: 12px;
}

#linkedinIcon {
    color: #ffffffb5;
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    /* margin: 12px; */
}

#igIcon {
    color: #ffffffb5;
    align-items: center;
    justify-content: center;
}

#faceIcon {
    color: #ffffffb5;
    align-items: center;
    justify-content: center;
}

#githubIcon {
    color: #ffffffb5;
    align-items: center;
    justify-content: center;
}

#githubIcon:hover {
    color: #a2a0a0;
    cursor: pointer;
}

#faceIcon:hover {
    color: #a2a0a0;
    cursor: pointer;
}

#igIcon:hover {
    color: #a2a0a0;
    cursor: pointer;
}

#linkedinIcon:hover {
    color: #a2a0a0;
    cursor: pointer;
}

#button {
    background-color: #ffffff00;
    border: #ffffff00;
    color: #ffffff;
}

#button:hover {
    cursor:pointer;
    color: #2c2c2c;
}

.links {
    display: none;
}

.links a {
    font-size: 100%;
    color: #ffffff;
    padding: 20px 0 20px 0;
    text-align: center;
    /* border-bottom: 0.5px solid rgb(0, 0, 0); */
    text-decoration: none;
    /* border-bottom: 1px solid black; */
    /* box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2); */
}

@keyframes desplegar-menu {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}


.settings:hover .links{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    width: 60px;
    bottom: 100%;
    height: 100vh;
    background-color: #490871;
    animation: desplegar-menu 0.2s ease-in-out forwards;
}

@keyframes cerrar-menu {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

.settings .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    width: 60px;
    bottom: 100%;
    height: 100vh;
    background-color: #490871;
    animation: cerrar-menu 0.2s ease-in-out forwards;
}