<div class="toolbar">
    <div class="settings">
        <div class="menu-icon">
            <button id="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
        </div>
        <div class="links">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </div>
    <div class="social">
        <a href="https://www.linkedin.com/" id="linkedin">
            <img src="https://es.vecteezy.com/png/18930587-logotipo-de-linkedin-png-icono-de-linkedin-png-transparente" alt="">
        </a>
    </div>
</div>